<!-- documents.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Collection</title>
    <link rel="stylesheet" href="/css/documents.css" />
    <!-- Add the link to your styles.css file here -->
  </head>

  <body>
    <!-- Logo and Company Name section -->
    <div class="header-container">
      <div class="logo-container">
        <img src="\public\uploads\Bulijjo Logo.jpg" alt="Logo" />
      </div>
      <div class="company-name">
        <h2>BULIJJO CREDIT LIMITED</h2>
      </div>
    </div>

    <!-- Content section -->
    <div class="container">
      <h1>Document Collection</h1>

      <!-- Buttons for different loan types -->
      <a href="/upload_documents?loan_type=salary_loan"
        ><button>Salary Loan</button></a
      >
      <a href="/upload_documents?loan_type=property_loan"
        ><button>Property Loan</button></a
      >
      <a href="/upload_documents?loan_type=contract_loan"
        ><button>Contract Loan</button></a
      >
      <a href="/upload_documents?loan_type=business_loan"
        ><button>Business Loan</button></a
      >
    </div>

    <!-- Add additional styling or scripts as needed -->
  </body>
</html>
