<!-- registration_complete.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Complete</title>
    <link rel="stylesheet" href="/css/registration_complete.css" />
    <!-- Add the link to your styles.css file here -->
  </head>

  <body>
    <!-- Logo and Company Name section -->
    <div class="header-container">
      <div class="logo-container">
        <img src="\public\uploads\Bulijjo Logo.jpg" alt="Logo" />
      </div>
      <div class="company-name">
        <h2>BULIJJO CREDIT LIMITED</h2>
      </div>
    </div>

    <!-- Content section -->
    <div class="container">
      <h1>Registration Complete</h1>
      <p>Your registration has been successfully completed!</p>
      <a href="/cus_view">View Customer</a>
      <a href="/add_loan"><button>Insert Loan</button></a>
    </div>

    <!-- Add additional styling or scripts as needed -->
  </body>
</html>
